* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "poppins";
  background-image: linear-gradient(120deg, #2253da, #3333be);
}

body header {
  height: 10vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

body form {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body form input,
body form button {
  border: none;
  padding: 10px;
  background: white;
  font-size: 18px;
  outline: none;
}

body form input {
  min-width: 30%;
}

body .todo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .todo-container .todo-list {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  min-width: 30%;
  list-style: none;
}

body .todo-container .todo {
  margin-top: 10px;
  background: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

body .todo-container .todo li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .todo-container .todo-item {
  padding: 0rem 0.5rem;
}

body .todo-container .complete-btn,
body .todo-container .trash-btn {
  border: none;
  background: #3333be;
  padding: 1em;
  color: white;
  cursor: pointer;
  outline: none;
}

body .todo-container .fa-check,
body .todo-container .fa-trash {
  pointer-events: none;
  border: none;
}

body .todo-container .todo-btn {
  background: #1d1da8;
  color: white;
  cursor: pointer;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

body .todo-container .todo-btn:hover {
  color: #1d1da8;
  background: white;
}

body .todo-container .complete {
  text-decoration: line-through;
  opacity: 0.5;
}

body .todo-container .remove {
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  opacity: 0;
  visibility: hidden;
}

body select {
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body .select {
  margin: 1em;
  position: relative;
  overflow: hidden;
}

body .select::after {
  content: "\25BC";
  color: white;
  background: #1d1da8;
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px;
  pointer-events: none;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

body .select:hover::after {
  color: #1d1da8;
  background: white;
}

body select {
  cursor: pointer;
  width: 10rem;
  color: #1d1da8;
  padding: 12px;
}
/*# sourceMappingURL=style.css.map */